/myvenv
/ZoningScrapy
/test.json
/zoning_layers.csv
/list-federal-state-county-city-GIS-servers-test.csv
ArcSpider_old.py
Include
__pycache__
Lib
Scripts
desktop.ini
pyvenv.cfg
Scrapy_ArcSpider\desktop.ini
Scripts\__pycache__\desktop.ini
Scripts\desktop.ini
Scrapy_ArcSpider\Scrapy_ArcSpider\__pycache__\desktop.ini
Scrapy_ArcSpider\Scrapy_ArcSpider\desktop.ini
Scrapy_ArcSpider/results.csv

.python_packages
.venv
.vscode/extensions.json
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
